.dash-board{
    color: #fff;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}
.dash-board::-webkit-scrollbar{
    display: none;
}

.dash-board-body{
    display: flex;
}

.body{
    height: 100vh;
    flex: 0.8;
    background-color: #d81e5b;
    background-image: linear-gradient(#d81e5b, rgba(0,0,0,1));
    padding: 30px;
    overflow-y: overlay;
    margin-bottom: 2em;
}

.body::-webkit-scrollbar{
    display: none;
}



@media (max-width:768px){
    .dash-board{
        overflow-x: scroll;
    }
    .dash-board::-webkit-scrollbar{
        display: none;
    }
    .dash-board-body{
        flex-direction: column;
    }
    .body{
        flex: 1;
    }
}