.sidebar-option{
    color: grey;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    transition: 200ms color ease-in;
    margin-left: 1em;
}

.sidebar-option:hover{
    color: #fff;
}

.option-container{
    display: flex;
    align-items: center;
    gap: 0 0.4em;
}

.option-icon {
    font-size: 25px !important;
}

.sidebar-option h4{
    font-size: 18px;
}

.link{
    text-decoration: none;
    color:grey;
}

@media (max-width:768px){
    .sidebar-option{
        height: 25px;
    }
    .sidebar-option h4{
        font-size: 14px;
    }
    .option-container{
        gap: 0 0.1em;
    }
    .option-icon{
        font-size: 18px !important;
    }
}