.sidebar{
    height: 100vh;
    flex: 0.2;
    background-color: #040404;
    min-width: 230px;
    padding: 0 10px;
    overflow-y: overlay;
}


.sidebar-logo-container{
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1.6em;
}
.sidebar-logo{
    height: 60px;
    object-fit: contain;
    padding: 10px;
}

.logo-name{
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.sidebar-title{
    margin-left:10px;
    padding:5px;
    font-size: 12px;
    letter-spacing: 2px;
    display: block;
    margin-top: 1em;
}

.sidebar > hr{
    border:1px solid #282828;
    width:90%;
    margin: 5px auto 10px auto;
}

.log-out{
    color: #108954;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    transition: 200ms color ease-in;
    margin-left: 1em;
}
.log-out:hover{
    color: #fff;
}

@media (max-width:768px){
    .sidebar{
        display: flex;
        height: 90px;
        align-items: center;
    }
    .log-out{
        font-size: 14px;
        margin-top:25px;
    }
    .side-bar-options-main{
        display: flex;
        align-items: center;
        margin-left: 1em;
    }
    .sidebar-logo-container{
        margin-left: 0.6em;
        margin-bottom: 1em;
    }
    .sidebar-logo{
        height: 40px;
        padding: 5px;
    }
    .logo-name{
        font-size: 1rem;
    }
}