.footer{
    position: fixed;
    bottom: 10px;
    height: 50px;
    width: 100%;
    background-color: #282828;
    z-index: 999;
}

/* @media (max-width:768px){
    .footer{
        bottom: 80px;
    }
} */
