.category{
    margin:2em 0;
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
}

.category-container{
    width: max-content;
    height: 180px;
    display: flex;
    gap: 0 0.5em ;
    margin-bottom: 1em;
    transform: translateX(0);
    transition: all 1s ease;
}

.category-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


.arrow{
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .category{
        margin: 0.5em 0;
    }
    .category-header h1{
        font-size: 1rem;
    }
    .arrow{
        font-size: 20px !important;
    }
    .category-container{
        overflow-x: scroll;
        margin-bottom: 0;
    }
    .category-container::-webkit-scrollbar{
        display: none;
    }
}